@use '../utils' as *;

.city {
  &-details {
    margin: 0 0 pxToRem(20) 0.5%;
    text-align: left;

    &__name {
      margin: pxToRem(10) 0 0 0;
      display: flex;
      align-items: center;
      font-size: pxToRem(35);
      font-weight: normal;
    }

    &__fullname {
      margin: 0;
      font-style: italic;
    }

    &__localtime {
      margin: pxToRem(7) 0 0 0;
      font-size: pxToRem(18);
      letter-spacing: pxToRem(1.2);
    }

    &__timezone {
      margin: 0;
      font-size: pxToRem(14.5);
    }
  }

  &__action {
    margin: 0 0 0 pxToRem(5);
    border: none;
    padding: 0 pxToRem(1) 0 pxToRem(1);
    background: transparent;
    cursor: pointer;
    font-size: pxToRem(28);
    align-self: flex-end;

    &--add {
      color: var(--edit);
    }

    &--remove {
      color: var(--remove);
    }
  }
}
