@use '../utils' as *;

.logo {
  display: block;
  margin: pxToRem(18) 0 0 0;
  font-family: var(--font-logo);
  font-size: pxToRem(28);
  font-weight: bold;
  text-transform: capitalize;
}

.logo--big {
  margin: 1%;
  font-size: pxToRem(80);
}
