@use '../utils' as *;

.notes {
  flex: 1;
  height: 100%;

  &--empty {
    border: pxToRem(1) solid var(--black-faint);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    color: var(--black-faint);
  }

  &__desc {
    margin: 0;
    font-style: italic;
  }
}
