:root {
  --black-faint: hsla(0, 0%, 0%, 0.9);
  --remove: hsla(0, 82%, 47%, 0.9);
  --edit: hsla(219, 100%, 50%, 0.9);
  --city-cold: hsl(208, 100%, 97%);
  --city-cold-hover: hsl(208, 13%, 95%);
  --city-warm: hsl(60, 100%, 97%);
  --city-warm-hover: hsl(60, 13%, 87%);
  --city-hot: hsl(17, 100%, 89%);
  --city-hot-hover: hsl(17, 13%, 87%);
  --loading-zero: hsl(0, 100%, 50%);
  --loading-twenty: hsl(60, 100%, 50%);
  --loading-forty-five: hsl(270, 50%, 40%);
  --loading-sixty-five: hsl(240, 100%, 50%);
  --loading-eighty-five: hsl(120, 100%, 25%);
  --loading-hundred: hsl(348, 83%, 47%);
}
