:root {
  --black-faint: hsla(0, 0%, 0%, 0.9);
  --remove: hsla(0, 82%, 47%, 0.9);
  --edit: hsla(219, 100%, 50%, 0.9);
  --city-cold: hsl(208, 100%, 97%);
  --city-cold-hover: hsl(208, 13%, 95%);
  --city-warm: hsl(60, 100%, 97%);
  --city-warm-hover: hsl(60, 13%, 87%);
  --city-hot: hsl(17, 100%, 89%);
  --city-hot-hover: hsl(17, 13%, 87%);
}
