@use '../utils' as *;
@import-normalize;

*::before,
*,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-size: 100%;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  writing-mode: horizontal-tb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: pxToRem(1024);
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

a {
  text-decoration: none;
  color: inherit;
}
