@use '../utils' as *;

.detail {
  min-height: calc(100vh - pxToRem(20) - pxToRem(10));
  grid-column: 1 / 13;
  text-align: center;
  position: relative;
}

.city {
  &__data {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 'data data data notes notes notes notes notes notes notes notes notes notes';
  }
}
